{% load static %}
<div class="column inbox">
   <h2 class="column__title">Inbox</h2>

   <div class="column__notifications">
   {% for email in emails %}
      <div class="notification">
         <div class="notification__header">
            <img src="{%  static 'media/gmail.png' %}" alt="">
            <span>Gmail</span>
         </div>
         <div class="notification__body">
            <div class="notification__message">
               <span class="notification__title">{{ email.title}} </span>
               <span class="notification__message__time">{{ email.created_time }}</span>
            </div>
            <div class="notification__links">
               <a href="https://mail.google.com/mail/u/0/#inbox/{{ email.id }}" target="_blank">Show</a>
               <a href="">Reply</a>
               <a href="">Forward</a>
            </div>
            <span class="notification__text" >{{email.text}}</span>
         </div>
      </div>
   {% endfor %}
   </div>
   <form class="inbox__tasks" action="" method="POST">
      {% csrf_token %}
      <div class="inbox__tasks__apps">
         <div class="inbox__tasks__app">
            <input type="checkbox" name="note_type"  value="jesk">
            <span>+Jesk</span>
         </div>   
         <div class="inbox__tasks__app">
            <input type="checkbox" name="note_type"  value="jesk">
            <span>+ <img src="{% static 'media/icons/trello 1.svg' %}" alt="icon" class="inbox__tasks__app__icon" /> </span>
         </div>   
         <div class="inbox__tasks__app">
            <input type="checkbox" name="note_type"  value="jesk">
            <span>+ <img src="{% static 'media/icons/notification 5.svg' %}" alt="icon" class="inbox__tasks__app__icon" /> </span>
         </div>   
         <div class="inbox__tasks__app">
            <input type="checkbox" name="note_type"  value="jesk">
            <span>+ <img src="{% static 'media/icons/Group.svg' %}" alt="icon" class="inbox__tasks__app__icon" /> </span>
         </div>   
      </div>
      <div class="inbox__add__tasks">
         <h3>
            <span  class="inbox__add__tasks__notification__number" >{{ todos|length }}</span>
            <span  class="inbox__tasks__menu__button fa-solid fa-circle-chevron-down" title="Show All Titles   " ></span>
            Notes +
         </h3>
         <div class="inbox__add__tasks__form">
            <input 
               type="text" 
               placeholder="Enter your notes..." 
               name="type"
               id="note_user_id"
               value="todo"
               style="display: none;"
            >
            <input 
               type="text" 
               placeholder="Enter your notes..." 
               name="note"
               class="add_note"
            >
            <button class="btn" hidden>send</button>
      </div>
   </div>
   <div class="inbox__show__tasks">
      {% for todo in todos %}
      <div class='note'>
         {{todo.message}}
         <a class='note__delete' href="{%  url 'base:task_delete' todo.id  %}">
            <i class="fa-solid fa-xmark"></i>
         </a>
      </div>
      {% endfor %}
   </div>
   </form>
</div>