{% load static %}
<div class="column inbox" style="border-right: 1px solid rgb(20,20,20,.3);">
   <h3 
      class="column__title"
      style = "border-bottom: 1px solid rgb(20,20,20,.3);"
   >Inbox</h3>

   <div class="column__notifications" style='border-bottom: 1px solid rgb(20,20,20,.3);'>
   {% for email in emails %}
      <div class="notification">
         <div class="notification__header">
            {% if email.type == 'gmail' %}
            <img src="{%  static 'media/gmail.png' %}" alt="Gmail">
            <span>Gmail</span>
            {% elif email.type == 'google_event' %}
            <img src="{%  static 'media/google-calendar.png' %}" alt="Google Calendar">
            <span>Google Calendar</span>
            {% elif email.type == 'google_todo' %}
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2a9.95 9.95 0 014.473 1.055l-.895 1.791A7.949 7.949 0 0012 4c-4.41 0-8 3.59-8 8s3.59 8 8 8c1.09 0 2.129-.22 3.076-.615l.771 1.847A9.962 9.962 0 0112 22C6.48 22 2 17.52 2 12S6.48 2 12 2zm9 10v3h3v2h-3v3h-2v-3h-3v-2h3v-3h2zm-.4-8.4L22 5 11 16l-4-4 1.4-1.4 2.6 2.6 9.6-9.6z" fill="#1A73E8"/></svg>
            <span>Google Todo</span>
            {% endif %}
         </div>
         <div class="notification__body">
            <div class="notification__message">
               <span class="notification__title">{{ email.title}} </span>
               <span class="notification__message__time">{{ email.created_time }}</span>
            </div>
            <div class="notification__links">
               <a href="{{ email.link }}" target="_blank" style="border: 1px solid rgb(20,20,20,.3)">Show</a>
               {% if email.type == 'gmail'  %}
                  <a href="" style="border: 1px solid rgb(20,20,20,.3)">Reply</a>
                  <a href="" style="border: 1px solid rgb(20,20,20,.3)">Forward</a>
               {% endif %}
            </div>
            <span class="notification__text" >{{email.text}}</span>
         </div>
      </div>
   {% endfor %}
   </div>
   <form class="inbox__tasks" action="" method="POST">
      {% csrf_token %}
      <div class="inbox__tasks__apps" style="border-bottom: 1px solid rgb(20,20,20,.3)">
         <div 
            class="inbox__tasks__app" 
         >
            <input type="checkbox" name="isJesk"  value="jesk">
            <span>+Jesk</span>
         </div>   
         <div 
            class="inbox__tasks__app"
         >
            <input type="checkbox" name="isGoogle_todo"  value="google_todo">
            <span>+ <img src="{% static 'media/task-add-accent-light.svg' %}" alt="icon" class="inbox__tasks__app__icon" /> </span>
         </div>   
      </div>
      <div class="inbox__add__tasks">
         <h3>
            <span  class="inbox__add__tasks__notification__number" >{{ todos|length }}</span>
            <span  class="inbox__tasks__menu__button fa-solid fa-circle-chevron-down" title="Show All Titles   " ></span>
            Notes +
         </h3>
         <div class="inbox__add__tasks__form">
            <input 
               type="text" 
               placeholder="Enter your notes..." 
               name="type"
               id="note_user_id"
               value="todo"
               style="display: none;"
            >
            <input 
               type="text" 
               placeholder="Enter your notes..." 
               name="note"
               class="add_note"
            >
            <button class="btn" hidden>send</button>
      </div>
   </div>
   <div class="inbox__show__tasks" style='height:10vh'>
      {% for todo in todos %}
      <div class='note'>
         {{todo.message}}
         <a 
            class="note__delete" 
            href="{%  url 'base:task_delete' todo.id  %}"
         >
         <span class="material-symbols-outlined"  style="border: 1px solid rgb(20,20,20,.3)">
            close
            </span>
         </a>
      </div>
      {% endfor %}
   </div>
   </form>  
</div>