{% load static %}
<div class="column today">
   <h2 class="column__title">Today</h2>
   <div class="today__work" style=" height: 70vh"></div>
   <div 
      class="today__pre__notes inbox__add__tasks" 
      style=" height: 24vh"
   >
      <h3>
         <span  class="inbox__add__tasks__notification__number">{{today_notes|length}}</span>
         <!-- <span  class="inbox__tasks__menu__button fa-solid fa-circle-chevron-down" title="Show All Titles   " ></span> -->
         <span  
            class="inbox__todays__menu__button fa-solid fa-circle-chevron-down" 
            title="Show All Titles   " 
         ></span>
         Today's notes: 
      </h3>
      <div class="">
         <form action="" method="POST" class="inbox__add__tasks__form">
            {% csrf_token %}
            <input 
               type="text" 
               placeholder="Enter your today notes..." 
               name="type"
               value="todays_notes"
               style="display: none;"
            >
         <input 
            type="text" 
            placeholder="Enter your today notes..." 
            name="today_note_message"
            class="add_note"
         >
            <button class="btn" hidden>send</button>
         </form>
         <div class="today__notes">
            {% for today_note in today_notes %}
            <div class='note'>
               {{today_note.message}}
               <a class='note__delete' href="{%  url 'base:delete_today_note' today_note.id  %}">
                  <i class="fa-solid fa-xmark"></i>
               </a>
            </div>
            {% endfor %}
         </div>
      </div>
   </div>
</div>

<script src="{% static 'js/openInToday.js' %}" ></script>
<script src="{% static 'js/openCloseTodayNotes.js' %}" ></script>