{% load static %}
<div class="column today">
   <h3 
      class="column__title"
      style = "border-bottom: 1px solid rgb(20,20,20,.3)"
   >Today</h3>
   <div class="today__work" style=" height: 72vh; border-bottom: 1px solid rgb(20,20,20,.3)">
      <div class='today__work__notfound'>
         Messages Not Found
      </div>
   </div>
   <form class="inbox__tasks inbox__today__tasks" action="" method="POST">
      {% csrf_token %}
      
      <div class="inbox__add__tasks">
         <h3>
            <span  class="inbox__add__tasks__notification__number" >{{today_notes|length}}</span>
            <span  class="inbox__tasks__menu__button fa-solid fa-circle-chevron-down" title="Show All Titles" ></span>
            Today's notes:
         </h3>
         <div class="inbox__add__tasks__form">
            <input 
               type="text" 
               placeholder="Enter your today notes..." 
               name="type"
               value="todays_notes"
               style="display: none;"
            >
            <input 
               type="text" 
               placeholder="Enter your today notes..." 
               name="today_note_message"
               class="add_note"
            >
            <button class="btn" hidden>send</button>
      </div>
   </div>
   <div class="inbox__show__tasks" style='height: 10vh'>
      {% for todo in today_notes %}
      <div class='note'>
         {{todo.message}}
         <a 
            class='note__delete' 
            href="{%  url 'base:delete_today_note' today_note.id  %}"
         >
         <span class="material-symbols-outlined">
            close
            </span>
         </a>
      </div>
      {% endfor %}
   </div>
   </form>  
</div>

<script src="{% static 'js/openInToday.js' %}" ></script>
<script src="{% static 'js/openCloseTodayNotes.js' %}" ></script>