@import "./variables.css";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Black+Ops+One&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   text-decoration: none;
   border: none;
   outline: none;
}
body {
   color: #202020;
   font-size: var(--text-l);
   font-family: var(--poppins);
   overflow-x: hidden;
   height: 100vh;
   width: 100vw;
   overflow: hidden;
}
.page {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   height: 100vh;
   position: relative;
}
.page__image {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   position: relative;
   height: 100vh;
}
.page__image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: relative;
}
.page__image__mask {
   display: block;
   content: '';
   width: 100vw;
   height: 100vh;
   background-color: rgba(255, 255, 255, 0.5);
   position: absolute;
   transition: all .3s ease;
}
.page__content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: absolute;
   z-index: 1;
   width: 100vw;
   height: 100vh;
}

.btn {
   padding: 10px 20px;
   background-color: rgb(254,254,254,.3);
   color: white;
   font-size: 16px;
   border-radius: 10px;
   transition: all .3s linear;
}
.btn:hover {
   background-color: rosybrown;
   cursor: pointer;
   color: white;
}

@media screen and (max-width: 600px) {
   .btn {
      width: 100%;
   }
}

::selection {
   background-color: #bc8f8f;
   color: white;
}
.messages {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.message {
   width: 100%;
   position: fixed;
   z-index: 5;
   top: 20vh;
   width: 100%;
   max-width: 500px;
   background-color: #bc8f8f;
   border-radius: 10px;
   padding: 8px 10px;
   
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.message_close {
   transition: all .3s ease-in-out;
}
.message_close:hover{
   background-color: aliceblue;
   color: #bc8f8f;
   padding: 4px 6px;
   border-radius: 150px;
}

.chill__mode {
   background-color: #fff;
   position: fixed;
   z-index: 100000000000;
   width: 100vw;
   height: 100vh;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;

   display: none;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   opacity: 0;
   transition: all .3s lienear;
   
   background: rgb(142,191,254);
   background: linear-gradient(22deg, rgba(142,191,254,1) 0%, rgba(188,143,143,1) 100%); 

   animation: gradient 1.5s linear;
   animation-fill-mode: forwards;
}

.chill__phone__intro {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: white;
   font-family: 'Satisfy', cursive;
}
.chill__phone__intro h1 {
   font-size: calc(7vh + 7vw);
   margin-bottom: none;
   padding-bottom: none;
}
.chill__phone__date {
   font-size: 40px;
   font-size: calc(1.5vh + 1.5vw);
   font-weight: 700;
}
.chill__phone__time {
   font-size: 32px;
   font-size: calc(1.7vh + 1.7vw);
   font-weight: bold
}
.chill__phone__intro__title {
   margin-bottom: -5%;
}
.chill__mode__exit {
   position: fixed;
   bottom: 5%;
   right: 5%;
   font-size: 42px;
   color: rgb(254,254,254,.1);
   transition: all .3s linear;
}
.chill__mode__exit:hover {
   animation-name: transform;
   cursor: pointer;
   color: rosybrown
}

@keyframes transform {
   0% {
      transform: rotate(0deg);
   }
   100%{
      transform: rotate(360deg);
   }
}

.link {
   color: white;
   font-size: 18px;
   font-weight: bold;
   transition: all .3s linear;
}
.link:hover {
   color: #8ebffe;
}

::-webkit-scrollbar {
   width: 8px;
   background-color: rgb(254,254,254,.1);
}
::-webkit-scrollbar-thumb {
   background-color: rgb(137, 174, 223,.2);
   color: rosybrown;
   border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
   background-color: rgb(137, 174, 223,.8);
}