{% include 'main.html' %}
{% load static socialaccount account %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<title>Auth Add Social Media</title>
{% endblock title %}

{% block content %}
<div class="page">
   <div class="page__image__block">
       <img src="{% static 'media/mounths1.jpg' %}" alt="" class="page__image">
       <div class="page__image__mask"></div>
   </div>
   <div class="page__image__content">
         <div class="form__buttons">
           <a class="login icon-big" href="{% provider_login_url 'google' %}"><i class="fa-brands fa-google"></i></a>
            <a class="login icon-big" href="{% provider_login_url 'facebook' method='oauth2' %}"><i class="fa-brands fa-facebook"></i></a>
            <a class="login icon-big" href="{% provider_login_url 'instagram' %}"><i class="fa-brands fa-instagram"></i></a>
         </div>
   </div>
 </div>
{% endblock content %}